{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tate Wilson</title>
</head>
<body>

    <nav class="navbar sticky-top">
        <a class="navbar-brand" href="#" id="logo"><img class="nav-logo" src="../../static/img/logo.png"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="nav-link vertical-nav-link" href="#" id="headline">PORTFOLIO OF <br>TATE WILSON</p>
            </li>
            <li class="nav-item">
                <a class="nav-link horizontal-nav-links" href="#" id="work">WORK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link horizontal-nav-links" href="#" id="about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link horizontal-nav-links" href="#" id="contact">CONTACT</a>
            </li>
        </ul>
    </nav>


    <div class="banner">

        <svg class="heart-loader" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90" version="1.1">
            <g class="heart-loader__group">
                <path class="heart-loader__square" stroke-width="1" fill="none" d="M0,30 0,90 60,90 60,30z"/>
                <path class="heart-loader__circle m--left" stroke-width="1" fill="none" d="M60,60 a30,30 0 0,1 -60,0 a30,30 0 0,1 60,0"/>
                <path class="heart-loader__circle m--right" stroke-width="1" fill="none" d="M60,60 a30,30 0 0,1 -60,0 a30,30 0 0,1 60,0"/>
                <path class="heart-loader__heartPath" stroke-width="2" d="M60,30 a30,30 0 0,1 0,60 L0,90 0,30 a30,30 0 0,1 60,0" />
            </g>
        </svg>
        <div id="mydiv" class="hidden">
            <img class="heart_logo_fade_in" src="../../static/img/logo.png">
        </div>
    </div>

    <div class="container main">
        <p class="section-label">About Me</p>
        <div class="row">
            <div class="col"></div>
            <div class="col"><p>Skills</p>Python, Django, Flask, HTML, CSS, JS, Github, Git, Heroku</div>
            <div class="col">I am a Full Stack Developer who is driven by my enormous appetite for knowledge. I relish finding innovative solutions that make me exceed in problem-solving situations. When it comes to work-related values, I am trustworthy, patient and mindful of others. My mindset is creative with a focus on entrepreneurship.</div>
            <div class="col"></div>
        </div>
        <p class="section-label">About</p>

        <p class="section-label">Contact</p>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript">

    setTimeout(function() {
        $('#mydiv').addClass('logo')
        $('#mydiv').removeClass('hidden')
    }, 4500);

    </script>
</body>
</html>
