/* ##################### */
/* navbar */
/* ##################### */

.nav-logo {
    height: 30% !important;
    width: 30% !important;
    padding-top: 15px;
    padding-left: 0px;
}


.horizontal-nav-links {
    transform: rotate(90deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    padding-top: 100px;
    padding-bottom: 75px !important;
    padding-left: 10px;
    color: black;

}

nav {
    background-color: transparent;
    height: 0px;

}
body {
    background-color: white;
}
#logo {
    padding-bottom: 600px;
    padding-left: 20px;
    color: black;
}

.vertical-nav-link {
    font-size: 13px;
    padding-right: 20px !important;
    color: black;
    font-weight: bold;
    padding-top: 23px;
}

.navbar {
    background-color: transparent;
    height: auto;
    overflow: hidden;
}



/* ##################### */
/* banner heart animation */
/* ##################### */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heart-loader {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    width: 180px;
    height: 180px;
    overflow: visible;
}
.heart-loader__group {
    -webkit-transform-origin: 0 90px;
    transform-origin: 0 90px;
    -webkit-animation: group-anim 7s 1s;
    animation: group-anim 7s 1s;
}
.heart-loader__square {
    stroke: #2d2d2d;
    stroke-dasharray: 240, 240;
    stroke-dashoffset: 240;
    -webkit-animation: square-anim 7s 1s;
    animation: square-anim 7s 1s;
}
.heart-loader__circle {
    stroke: #2d2d2d;
    stroke-dasharray: 188.522, 188.522;
    stroke-dashoffset: 188.522;
    -webkit-transform-origin: 60px 30px;
    transform-origin: 60px 30px;
}
.heart-loader__circle.m--left {
    -webkit-animation: left-circle-anim 7s 1s;
    animation: left-circle-anim 7s 1s;
}
.heart-loader__circle.m--right {
    -webkit-animation: right-circle-anim 7s 1s;
    animation: right-circle-anim 7s 1s;
}
.heart-loader__heartPath {
    stroke: #A20010;
    fill: transparent;
    stroke-dasharray: 308.522, 308.522;
    stroke-dashoffset: 308.522;
    -webkit-animation: heart-anim 7s 1s;
    animation: heart-anim 7s 1s;
}

@-webkit-keyframes square-anim {
    12% {
        stroke-dashoffset: 0;
    }
    43% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

@keyframes square-anim {
    12% {
        stroke-dashoffset: 0;
    }
    43% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}
@-webkit-keyframes left-circle-anim {
    12% {
        stroke-dashoffset: 188.522;
    }
    31% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    41% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    43% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
}
@keyframes left-circle-anim {
    12% {
        stroke-dashoffset: 188.522;
    }
    31% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    41% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    43% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
}
@-webkit-keyframes right-circle-anim {
    12% {
        stroke-dashoffset: 188.522;
    }
    31% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    41% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    43% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
}
@keyframes right-circle-anim {
    12% {
        stroke-dashoffset: 188.522;
    }
    31% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    41% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    43% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 1;
    }
    85% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
}
@-webkit-keyframes group-anim {
    43% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    54% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    90% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1;
    }
    97% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }
}
@keyframes group-anim {
    43% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    54% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    90% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1;
    }
    97% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }
}
@-webkit-keyframes heart-anim {

    55% {
        stroke-dashoffset: 308.522;
        fill: transparent;
    }
    70% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    87% {
        stroke-dashoffset: 0;
        fill: #A20010;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #A20010;

    }
}
@keyframes heart-anim {
    0% {
        opacity:1;
    }
    55% {
        stroke-dashoffset: 308.522;
        fill: transparent;
    }
    70% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    87% {
        stroke-dashoffset: 0;
        fill: #A20010;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #A20010;
        opacity:1;
    }
}
.other {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
    text-align: right;
}
.other__link {
    font-size: 1.3rem;
    margin: 0 1rem;
}

/* ##################### */
/* heart logo */
/* ##################### */
.active {
    background-color: red;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.logo {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;


    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
    padding-left: 36.8%;
    padding-top: 19.5%;
    z-index: 10;
}


.logo-img {
    width: 42%;
    height: 42%;
}

@keyframes fadeIn {

    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


.banner {
    position: absolute;
    padding-right: 0px;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FF8C69;
    background-image: url('../img/splatter.png');
    background-position: center;
    background-repeat: no-repeat;
}













/* ##################### */
/* heart logo */
/* ##################### */
.active {
    background-color: red;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.logo {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;


    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    padding-left: 36.8%;
    padding-top: 19.5%;
    z-index: 10;
}

.heart_logo_fade_in {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding-bottom: 5px;
}
.logo-img {
    width: 42%;
    height: 42%;

}

@keyframes fadeIn {

    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}




/* ##################### */
/* start of main body */
/* ##################### */




/* ##################### */
/* About Me Section */
/* ##################### */

.about {
    padding-top: 10vh;
    padding-bottom: 200px;
}

.body-col {
    border: 1px solid black;
    height: 300px;
}


.section-label {
    text-align: center;
    font-size: 50px;
}

.about-title {
    font-family: "Courier New", Courier, monospace;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
}

.abstract-background-about {
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.transparent-div {
    height: 300px;
}

.skills-col {
    font-size: 20px;
    font-weight: bold;
}
.about-me-title {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    font-weight: normal;
}

.more {
    font-size: 18px;
    padding-top: 10px;

}

.large-pipe {
    font-size: 40px;
    font-weight: lighter;
}



/* ##################### */
/* Work Section */
/* ##################### */

.work {
    padding-left: 0px;
    padding-right: 0px;
}

.work-title {
    font-size: 18px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;

}

.clly, .bootstrap, .thais-list, .todo {
    object-fit: cover;
    overflow: hidden;
    height: auto;
    width: 40%;
    position: absolute;
    padding-top: 20vh;
}

.clly, .thais-list {
    right: 0;
}

.bootstrap {
    padding-top: 60vh;
}

.thais-list {
    padding-top: 108vh;

}
.todo {
    padding-top: 150vh;
}





/* ##################### */
/* Work Line Section */
/* ##################### */

.work-line-clly-right {
    border-left: 1px solid #C0C0C0;
    height: 47vh;
}

.clly-title {
    position: absolute;
    font-size: 30px;
    padding-top: 50vh;
    left: 0;
}

.bootstrap-row {
    padding-top: 19vh;
}

.work-line-bootstrap-right {
    border-left: 1px solid #C0C0C0;
    height: 21vh;
}

.bootstrap-title {
    position: absolute;
    font-size: 30px;
    padding-top: 23vh;
    right: 0;
}

.thais-list-row {
    padding-top: 11vh;
}

.work-line-thais-list-right {
    border-left: 1px solid #C0C0C0;
    height: 28vh;
}

.thais-list-title {
    position: absolute;
    font-size: 30px;
    padding-top: 31vh;
    left: 0;
}

.todo-row {
    padding-top: 18vh;
}

.work-line-todo-right {
    border-left: 1px solid #C0C0C0;
    height: 28vh;
}

.todo-title {
    position: absolute;
    font-size: 30px;
    padding-top: 30vh;
    right: 0;
}

.more-row {
    padding-top: 11vh;
}

.work-line-more-right {
    border-left: 1px solid #C0C0C0;
    height: 50vh;
}

.more-title {
    font-size: 18px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding-top: 4vh;
    padding-bottom: 30px;
}


/* ##################### */
/* Contact/Footer */
/* ##################### */

footer{
    text-transform: uppercase;
    background-color: #101010;
}

.footer-title {
    font-weight: lighter;
    text-align: center;
    padding-bottom: 45px;
    border-bottom: 1px solid white;
}

.info, .footer-title {
    color: #E0E0E0;
}
.info-title {
    color: 	#909090;
    font-weight: lighter;
    font-size: 15px;
}

.footer-row-1 {
    padding-top: 45px;
}

.footer {
    height: 600px;
    padding-top: 60px;
}

.icon_img {
    height: 3em;
}
